<img class="player-avatar hidden-at-start" src="../../images/logo.png">
<table class="info-table">
	<tbody>
		<tr>
			<th><div class="hidden-at-start pr-1"><i class="fas fa-crown dealer-indicator text-warning"></i></div></th>
			<th><!-- Player name holder --></th>
			<th><div class="hidden-at-start pl-1"><i class="fas fa-chair sit-out-indicator"></i></div></th>
		</tr>
		<!-- Take seat -->
		<tr class="seatingButtons">
			<td colspan="3" class="mt-1 pt-1">
			  <button
				class="btn btn-success take-seat-button"
				style="font-size: small;"
				data-val="-1" 
				type="submit">Take&nbsp;Seat</button>
			  </td>
		</tr>
		
		<!-- Player stack row (place-holder) -->
		<tr>
			<td><div title="PM" class="private-message hidden-at-start" style="cursor: pointer;"><i class="far fa-comment"></i></div></td>
			<td></td>
			<td><div title="Nudge" class="virtual-nudge hidden-at-start" style="cursor: pointer;"><i class="far fa-bell"></i></div></td>
		</tr>
	</tbody>
</table>
