<div id="modalRanks" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="copyAreaHR">
      <div class="modal-header">
        <h5 class="modal-title">Hand Ranks<a href="#" id="copyRanks" title="Copy"><i class="far fa-copy"></i></a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row justify-content-center" style="max-height: 400px; overflow-y: scroll;">
          	<div><a href="/how-to-play#poker-hands" target="_blank">Open in new window</a></div>
          	<table class="hand-rank">
				<tbody>
				<tr><td class="pt-3" colspan="5">Royal Flush</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/TH.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JH.svg"/></td>
					<td><img class="hand-rank-img" src="/images/QH.svg"/></td>
					<td><img class="hand-rank-img" src="/images/KH.svg"/></td>
					<td><img class="hand-rank-img" src="/images/AH.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">Straight Flush</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/8C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/9C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/TC.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JC.svg"/></td>
					<td><img class="hand-rank-img" src="/images/QC.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">Four of a Kind</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/8D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/8S.svg"/></td>
					<td><img class="hand-rank-img" src="/images/8H.svg"/></td>
					<td><img class="hand-rank-img" src="/images/8C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/2C.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">Full House</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/8D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/8S.svg"/></td>
					<td><img class="hand-rank-img" src="/images/8H.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JC.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JS.svg"/></td>
				</tr>

				<tr><td class="pt-3" colspan="5">Flush</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/2D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/7D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/9D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JD.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">Straight</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/2C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/3C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/4H.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5S.svg"/></td>
					<td><img class="hand-rank-img" src="/images/6D.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">Three of a Kind</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/2C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5H.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5S.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/AD.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">Two Pair</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/2C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5H.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5S.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JD.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JC.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">Pair</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/2C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5H.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5S.svg"/></td>
					<td><img class="hand-rank-img" src="/images/8D.svg"/></td>
					<td><img class="hand-rank-img" src="/images/TS.svg"/></td>
				</tr>
				
				<tr><td class="pt-3" colspan="5">High Card</td></tr>
				<tr>
					<td><img class="hand-rank-img" src="/images/2C.svg"/></td>
					<td><img class="hand-rank-img" src="/images/5H.svg"/></td>
					<td><img class="hand-rank-img" src="/images/8S.svg"/></td>
					<td><img class="hand-rank-img" src="/images/JD.svg"/></td>
					<td><img class="hand-rank-img" src="/images/AS.svg"/></td>
				</tr>
				</tbody>
          	</table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$("#copyRanks").off();
$("#copyRanks").click(function() {
	copyToImage('copyAreaHR');
});
</script>